* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --main: #25282a;
  --button: #71abff;
}
/* html,
body {
  height: 100%;
}
body {
  margin: 0;
  font: 16px/1.3 sans-serif;
} */

/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/

.wrap {
  padding-right: 1rem;
  padding-left: 1rem;
}

.wrapper {
  max-width: 600px;
  background-color: var(--main);
  height: auto;
  text-align: center;
  border-radius: 2rem;
  overflow: hidden;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  /* position: absolute; */
  /* transform: translateY(50%) translateX(80%); */
}

.slider-image {
  max-width: 100%;
}

.h1 {
  padding-bottom: 4rem;
  padding-top: 2rem;
  text-align: center;
}

.CSSgal {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  /* max-width: 450px; */
  margin: 0 auto;
  overflow: hidden;
  /* margin-left: 10%;
  margin-right: 10%; */
}

/* SLIDER */

.CSSgal .slider {
  height: 100%;
  /* max-width: 600px; */
  white-space: nowrap;
  font-size: 0;
  transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
  /* font-size: 1rem; */
  display: inline-block;
  /* white-space: normal; */
  /* vertical-align: top; */
  padding-top: 2rem;
  height: 100%;
  width: 100%;
  background: none 50% no-repeat;
  background-size: cover;
}

.CSSgal .text-slider > * {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  height: 100%;
  width: 100%;
  order: 2;
  flex: 1;
  font-size: 1rem;
  text-align: left;
  margin-right: 2px;
}

.text-slider {
  color: white;
  transition: 0.3s;
  white-space: nowrap;
  text-align: center;
  flex: 1;
  font-size: 0;
}

.text-slider__content {
  font-size: 1rem;
}

/* NAVIGATION */

.CSSgal .bullets {
  z-index: 2;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  order: 3;
  flex: none;
  background: var(--main);
}
.CSSgal .bullets > a {
  padding: 0.25rem;
  margin: -0.25rem;
}

.button {
  display: inline-block;
  height: 0.65rem;
  width: 0.65rem;
  border-radius: 50%;
  border: 2px solid var(--button);
  background-color: var(--button);
  margin: 0 0.25rem 0 0.25rem;
  transition: 0.2s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* .CSSgal .bullets > a + a {
  background: rgba(255, 255, 255, 0.5); 
} */

/* .CSSgal .bullets > a:hover {
  background: white !important;
  border: none;
} */

a:hover .button {
  background: white !important;
  border: none;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.bullets > *:nth-child(1) .button {
  background: none;
}

.CSSgal > s:target ~ .bullets > a > .button {
  background: var(--button);
}
/* ACTIVE */
#s1:target ~ .bullets > *:nth-child(1) .button {
  background: none;
}

#s1:target ~ .bullets > *:nth-child(1):hover .button {
  background: none !important;
  border: 2px solid white !important;
}

#s2:target ~ .bullets > *:nth-child(2) .button {
  background: none;
}

#s2:target ~ .bullets > *:nth-child(2):hover .button {
  background: none !important;
  border: 2px solid white !important;
}

#s3:target ~ .bullets > *:nth-child(3) .button {
  background: none;
}

#s3:target ~ .bullets > *:nth-child(3):hover .button {
  background: none !important;
  border: 2px solid white !important;
}

#s4:target ~ .bullets > *:nth-child(4) .button {
  background: none;
}

#s4:target ~ .bullets > *:nth-child(4):hover .button {
  background: none !important;
  border: 2px solid white !important;
}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

#s2:target ~ .slider {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

#s3:target ~ .slider {
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
}

#s4:target ~ .slider {
  transform: translateX(-300%);
  -webkit-transform: translateX(-300%);
}

.text-slider {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

#s1:target ~ .text-slider {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

#s2:target ~ .text-slider {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

#s3:target ~ .text-slider {
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
}

#s4:target ~ .text-slider {
  transform: translateX(-300%);
  -webkit-transform: translateX(-300%);
}
/* More slides? Add here more rules */

/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal {
  color: #fff;
  text-align: center;
}
/* .CSSgal .slider h2 {
  margin-top: 40vh;
  font-weight: 200;
  letter-spacing: -0.06em;
  word-spacing: 0.2em;
  font-size: 3em;
} */
.CSSgal a {
  border-radius: 50%;
  margin: 0 3px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

@media (max-width: 450px) {
  .CSSgal {
    display: block;
  }

  .wrapper {
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .CSSgal .bullets {
    margin-bottom: 0.25rem;
  }
}
